{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
<link rel="stylesheet" type="text/javascript" src="{% static 'js/jsmpeg/src/jsmpeg.js' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nexus</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/ico">
</head>
<body class="c_body">
<div class="all-blocks">
  <div class="block activation-speed">
    <div id = "btn-activate" class="control-button button-text">Up (Y)</div>
    <div id = "btn-deactivate" class="control-button button-text">Down (U)</div>
    <div id = "btn-exit" class="control-button button-text">Exit (I)</div>
    <div id = "btn-minus-speed" class="control-button">-</div>
    <div id = "div-speed" class="control-button"></div>
    <div id = "btn-plus-speed" class="control-button">+</div>
  </div>
  <div class="block-fenix-data">
        <div class="block-line">
          <div class="block-param">RPI Voltage</div>
          <div class="block-value" id="rpi-voltage">00.00</div>
        </div>
        <div class="block-line">
            <div class="block-param">Servo Voltage</div>
            <div class="block-value" id="srv-voltage">00.00</div>
        </div>
        <div class="block-line">
            <div class="block-param">RPI CPU Temp</div>
            <div class="block-value" id="cpu-temp">00.00</div>
        </div>
        <div class="block-line">
            <div class="block-param">Pitch (X)</div>
            <div class="block-value" id="ga-x">00.00</div>
        </div>
        <div class="block-line">
            <div class="block-param">Yaw (Y)</div>
            <div class="block-value" id="ga-y">00.00</div>
        </div>
        <div class="block-line">
            <div class="block-param">Roll (Z)</div>
            <div class="block-value" id="ga-z">00.00</div>
        </div>
  </div>  
</div>
<div class="div-image-holder">
  <canvas id="video-canvas" class="image-src" width="1024" height="576">
    <p>
    Please use a browser that supports the Canvas Element, like
    <a href="http://www.google.com/chrome">Chrome</a>,
    <a href="http://www.mozilla.com/firefox/">Firefox</a>,
    <a href="http://www.apple.com/safari/">Safari</a> or Internet Explorer 10
    </p>
  </canvas>
</div>

<div style="display:none" class="div-image-holder"><img class="image-src" src="/static/images/img.jpg" alt="Video" id="myImage"/></div>
</body>


	<script type="text/javascript" src="{% static 'js/jsmpeg/jsmpeg.min.js' %}"></script>
		<script type="text/javascript">
		var canvas = document.getElementById('video-canvas');
		var url = 'ws://'+document.location.hostname+':8082/';
		var player = new JSMpeg.Player(url, {canvas: canvas});
	</script>
<script>
var myImageElement = document.getElementById('myImage');


function update_fenix_data() {
  fetch('/get_fenix_data')
    .then(response => response.json())
    .then(data => {
        document.getElementById('rpi-voltage').innerHTML = data['data']['v_rpi'];
        document.getElementById('srv-voltage').innerHTML = data['data']['v_srv'];
        document.getElementById('cpu-temp').innerHTML = data['data']['cpu'];
        document.getElementById('ga-x').innerHTML = data['data']['x'];
        document.getElementById('ga-y').innerHTML = data['data']['y'];
        document.getElementById('ga-z').innerHTML = data['data']['z'];
    })
    .catch(err => {
        console.error('An error ocurred', err);
    });
}


setInterval(function() {    
    update_fenix_data();
}, 500);

//update_fenix_data();

function getMillis() {
    var dttm = new Date();
    return dttm.getSeconds()*1000 + dttm.getMilliseconds();
}
var last_request_dttm = getMillis();
var last_request = '';

var speed = 0;
function writeSpeed(speed) {
    document.getElementById('div-speed').innerHTML = speed;
}

fetch('/get_speed')
    .then(response => response.json())
    .then(data => {
        speed = parseInt(data['speed'], 10);
        writeSpeed(speed);
    })
    .catch(err => {
        console.error('An error ocurred', err);
    });


var getJSON = function (url, callback) {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', url, true);
    xhr.responseType = 'json';
    xhr.onload = function () {
        var status = xhr.status;
        if (status == 200) {
            callback(null, xhr.response);
        } else {
            callback(status);
        }
    };
    xhr.send();
};


class LoadersManager {
    constructor() {
        this.queue = [];
        this.running_task = undefined;
    }

    load(loader) {
        //disableButtons();
        lm.running_task = loader;

        getJSON(loader.api,
                function (err, data) {
                    if (err != null) {
                        AlertError.render('API ERROR', "Error loading data. Contact administrator. Api: " + api);
                        console.log('Error : ' + err);
                    } else {
                        loader.data = data;
                        var index = lm.queue.indexOf(loader);

                        if (index > -1) {
                            lm.queue.splice(index, 1);
                        }

                        if (loader.result_function != undefined) {
                            if (loader.function_options != undefined) {
                                loader.result_function(data, loader.function_options);
                            } else {
                                loader.result_function(data);
                            }

                        }

                        lm.running_task = undefined;
                        lm.run_next_loader();
                    }
                });
    }

    add_to_queue(loader) {
        if (this.running_task == undefined) {
            this.load(loader);
        } else {
            this.queue.push(loader);
        }
    }

    run_next_loader() {
        //console.log('Queue length : ' + this.queue.length);

        if (this.queue.length > 0){
            this.load(this.queue[0]);
        } else {
            //enableButtons();
        }
    }
}

lm = new LoadersManager();

class Loader {
    constructor(api, result_function=undefined, function_options=undefined) {
        this.is_done = 0;
        this.api = api;
        this.result_function = result_function;
        this.function_options = function_options;

        if (api == last_request && getMillis() - last_request_dttm < 700) {
            // that is anti-spam, ignoring same commands
            delete this;
        } else {
            last_request_dttm = getMillis();
            last_request = api;
            lm.add_to_queue(this);
        }
    }
}

document.onkeydown = function(event) {

    if (event.keyCode < 32) return null; // спец. символ
    var ch = event.keyCode;
    var command = 'None';

    if (ch == "Q".charCodeAt(0)) {
        /*document.getElementById("btn-lstrafe").classList.add("pressed");*/
        command = 'strafeleft';
    }
    else if (ch == "W".charCodeAt(0)) {
        /*document.getElementById("btn-forward").classList.add("pressed");*/
        command = 'forward';
    }
    else if (ch == "E".charCodeAt(0)) {
        /*document.getElementById("btn-rstrafe").classList.add("pressed");*/
        command = 'straferight';
    }
    else if (ch == "A".charCodeAt(0)) {
        /*document.getElementById("btn-lturn").classList.add("pressed");*/
        command = 'turnleft';
    }
    else if (ch == "S".charCodeAt(0)) {
        /*document.getElementById("btn-backward").classList.add("pressed");*/
        command = 'backwards';
    }
    else if (ch == "D".charCodeAt(0)) {
        /*document.getElementById("btn-rturn").classList.add("pressed");*/
        command = 'turnright';
    }
    else if (ch == "R".charCodeAt(0)) {
        /*document.getElementById("btn-lforw").classList.add("pressed");*/
        command = 'lookleft';
    }
    else if (ch == "T".charCodeAt(0)) {
        /*document.getElementById("btn-rforw").classList.add("pressed");*/
        command = 'lookright';
    }
    else if (ch == "F".charCodeAt(0)) {
        /*document.getElementById("btn-lbackw").classList.add("pressed");*/
        command = 'lookup';
    }
    else if (ch == "G".charCodeAt(0)) {
        /*document.getElementById("btn-rbackw").classList.add("pressed");*/
        command = 'lookdown';
    }
    else if (ch == "Y".charCodeAt(0)) {
        document.getElementById("btn-activate").classList.add("pressed");
        command = 'up';
    }
    else if (ch == "U".charCodeAt(0)) {
        document.getElementById("btn-deactivate").classList.add("pressed");
        command = 'down';
    }
    else if (ch == "I".charCodeAt(0)) {
        document.getElementById("btn-exit").classList.add("pressed");
        command = 'exit';
    }

    else if (ch == 107) { // + sign
        document.getElementById("btn-plus-speed").classList.add("pressed");
        if (speed < 100) {
            speed += 1;
        }
        api = '/set_speed?speed=' + speed;
        new Loader(api);
        writeSpeed(speed);
    }
    else if (ch == 109) { // - sign
        document.getElementById("btn-minus-speed").classList.add("pressed");
        if (speed > 90) {
            speed -= 1;
        }
        api = '/set_speed?speed=' + speed;
        new Loader(api);
        writeSpeed(speed);
    }

    if (command!= 'None'){        
        api = '/command?com=' + command;
        new Loader(api);
    }

};

document.onkeyup = function (event) {
    /*
    document.getElementById("btn-lstrafe").classList.remove("pressed");
    document.getElementById("btn-backward").classList.remove("pressed");
    document.getElementById("btn-rstrafe").classList.remove("pressed");
    document.getElementById("btn-lturn").classList.remove("pressed");
    document.getElementById("btn-forward").classList.remove("pressed");
    document.getElementById("btn-rturn").classList.remove("pressed");
    document.getElementById("btn-lforw").classList.remove("pressed");
    document.getElementById("btn-rforw").classList.remove("pressed");
    document.getElementById("btn-lbackw").classList.remove("pressed");
    document.getElementById("btn-rbackw").classList.remove("pressed");*/
    document.getElementById("btn-activate").classList.remove("pressed");
    document.getElementById("btn-deactivate").classList.remove("pressed");
    document.getElementById("btn-exit").classList.remove("pressed");
    document.getElementById("btn-plus-speed").classList.remove("pressed");
    document.getElementById("btn-minus-speed").classList.remove("pressed");
}

</script>