{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nexus</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/ico">
</head>
<!--<body style="background-image: url({% static "images/background.jpg" %});">-->
<body class="c_body">
<div class="control-button-block">
    <div id = "btn-lstrafe" class="control-button">&#8592;</div>
    <div id = "btn-forward" class="control-button">&#8593;</div>
    <div id = "btn-rstrafe" class="control-button">&#8594;</div>
    <div id = "btn-activate" class="control-button button-text">Act (T)</div>
</div>
<div class="control-button-block">
    <div id = "btn-lturn" class="control-button">&#8630;</div>
    <div id = "btn-backward" class="control-button">&#8595;</div>
    <div id = "btn-rturn" class="control-button">&#8631;</div>
    <div id = "btn-deactivate" class="control-button button-text">DeAct (G)</div>
</div>
<div class="control-button-block">
    <div id = "btn-minus-speed" class="control-button">-</div>
    <div id = "div-speed" class="control-button speed"></div>
    <div id = "btn-plus-speed" class="control-button">+</div>
</div>
</body>

<script>
var speed = 0;
function writeSpeed(speed) {
    document.getElementById('div-speed').innerHTML = speed;
}

fetch('/get_speed')
    .then(response => response.json())
    .then(data => {
        speed = parseInt(data['speed'], 10);
        writeSpeed(speed);
    })
    .catch(err => {
        console.error('An error ocurred', err);
    });


var getJSON = function (url, callback) {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', url, true);
    xhr.responseType = 'json';
    xhr.onload = function () {
        var status = xhr.status;
        if (status == 200) {
            callback(null, xhr.response);
        } else {
            callback(status);
        }
    };
    xhr.send();
};


class LoadersManager {
    constructor() {
        this.queue = [];
        this.running_task = undefined;
    }

    load(loader) {
        //disableButtons();
        lm.running_task = loader;

        getJSON(loader.api,
                function (err, data) {
                    if (err != null) {
                        AlertError.render('API ERROR', "Error loading data. Contact administrator. Api: " + api);
                        console.log('Error : ' + err);
                    } else {
                        loader.data = data;
                        var index = lm.queue.indexOf(loader);

                        if (index > -1) {
                            lm.queue.splice(index, 1);
                        }

                        if (loader.result_function != undefined) {
                            if (loader.function_options != undefined) {
                                loader.result_function(data, loader.function_options);
                            } else {
                                loader.result_function(data);
                            }

                        }

                        lm.running_task = undefined;
                        lm.run_next_loader();
                    }
                });
    }

    add_to_queue(loader) {
        if (this.running_task == undefined) {
            this.load(loader);
        } else {
            this.queue.push(loader);
        }
    }

    run_next_loader() {
        //console.log('Queue length : ' + this.queue.length);

        if (this.queue.length > 0){
            this.load(this.queue[0]);
        } else {
            //enableButtons();
        }
    }
}

lm = new LoadersManager();

class Loader {
    constructor(api, result_function=undefined, function_options=undefined) {
        this.is_done = 0;
        this.api = api;
        this.result_function = result_function;
        this.function_options = function_options;

        lm.add_to_queue(this);
        /*this.elements_for_loading = elements_for_loading;*/
        //console.log('Created loader. Api : ' + this.api);
    }
}

document.onkeydown = function(event) {

    if (event.keyCode < 32) return null; // спец. символ
    var ch = event.keyCode;
    var command = 'None';

    if (ch == "Q".charCodeAt(0)) {
        document.getElementById("btn-lstrafe").classList.add("pressed");
        command = 'StrafeLeft';
    }
    if (ch == "W".charCodeAt(0)) {
        document.getElementById("btn-forward").classList.add("pressed");
        command = 'Forward';
    }
    if (ch == "E".charCodeAt(0)) {
        document.getElementById("btn-rstrafe").classList.add("pressed");
        command = 'StrafeRight';
    }
    if (ch == "A".charCodeAt(0)) {
        document.getElementById("btn-lturn").classList.add("pressed");
        command = 'TurnLeft';
    }
    if (ch == "S".charCodeAt(0)) {
        document.getElementById("btn-backward").classList.add("pressed");
        command = 'Back';
    }
    if (ch == "D".charCodeAt(0)) {
        document.getElementById("btn-rturn").classList.add("pressed");
        command = 'TurnRight';
    }
    if (ch == "T".charCodeAt(0)) {
        document.getElementById("btn-activate").classList.add("pressed");
        command = 'Activate';
    }
    if (ch == "G".charCodeAt(0)) {
        document.getElementById("btn-deactivate").classList.add("pressed");
        command = 'Deactivate';
    }
    if (ch == 107) { // + sign
        document.getElementById("btn-plus-speed").classList.add("pressed");
        if (speed < 100) {
            speed += 1;
        }
        api = '/set_speed?speed=' + speed;
        new Loader(api);
        writeSpeed(speed);
    }
    if (ch == 109) { // - sign
        document.getElementById("btn-minus-speed").classList.add("pressed");
        if (speed > 50) {
            speed -= 1;
        }
        api = '/set_speed?speed=' + speed;
        new Loader(api);
        writeSpeed(speed);
    }

    if (command!= 'None'){        
        api = '/command?com=' + command;
        new Loader(api);
    }

};

document.onkeyup = function (event) {

    document.getElementById("btn-lstrafe").classList.remove("pressed");
    document.getElementById("btn-backward").classList.remove("pressed");
    document.getElementById("btn-rstrafe").classList.remove("pressed");
    document.getElementById("btn-lturn").classList.remove("pressed");
    document.getElementById("btn-forward").classList.remove("pressed");
    document.getElementById("btn-rturn").classList.remove("pressed");
    document.getElementById("btn-activate").classList.remove("pressed");
    document.getElementById("btn-deactivate").classList.remove("pressed");
    document.getElementById("btn-plus-speed").classList.remove("pressed");
    document.getElementById("btn-minus-speed").classList.remove("pressed");
}

</script>